{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Weather Output {% endblock %}</h1>

    <table>
        <tr>
            <th>Time</th> 
            <th>Temperature (°C)</th>
            <th>Humidity (%)</th>
            <th>Windspeed (kmh)</th>
            <th>Wind direction (°)</th>
            <th>Pressure (hPa)</th>
            <th>Day/Night</th>
        </tr>
        {% for line in weather_table %}
            <tr>
                <td>{{ line[0] }}</td>
                <td>{{ line[1] }}</td>
                <td>{{ line[2] }}</td>
                <td>{{ line[3] }}</td>
                <td>{{ line[4] }}</td>
                <td>{{ line[5] }}</td>
                <td>
                    {% if line[6] == 1 %}
                        <img src="{{ url_for('static', filename='images/sun.png') }}" alt="Sun" width="20px" height="auto">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/moon.png') }}" alt="Moon" width="20px" height="auto">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table><br>

    <button onclick="window.location.href='/';" >
Main Menu
    </button><br>

{% endblock %}