{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to the Samson Console {% endblock %}</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Time</th>
            <th>Load Weight (kg)</th>
            <th>Load Weight Destroyed (kg)</th>
            <th>TakeOff Distance (m)</th>
        </tr>
        {% for line in history %}
            <tr>
                <td> {{ line[0] }} </td>
                <td> {{ line[4] }} </td>
                <td> {{ line[5] }} </td>
                <td> {{ line[1] }} </td>
                <td> {{ line[2] }} </td>
                <td> {{ line[3] }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
